@tailwind base;

@tailwind components;

@tailwind utilities;

/* mask */
.mask-circle {
  mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjAwcHgiIGhlaWdodD0iMjAwcHgiIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCA2MC4xICg4ODEzMykgLSBodHRwczovL3NrZXRjaC5jb20gLS0+CiAgICA8dGl0bGU+T3ZhbDwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxjaXJjbGUgaWQ9Ik92YWwiIGZpbGw9IiMwMDAwMDAiIGN4PSIxMDAiIGN5PSIxMDAiIHI9IjEwMCI+PC9jaXJjbGU+CiAgICA8L2c+Cjwvc3ZnPg==);
}

/* notifikasi */
.new-notification {
  @apply bg-purple-50 dark:bg-purple-800 dark:bg-opacity-10;
}

/* badge */
.badge {
  @apply bg-neutral border border-neutral text-neutral-content rounded-badge h-6 hover:bg-gray-800 dark:text-neutral dark:bg-accent dark:hover:bg-accentDark transition-all duration-200;
}

.badge-fulltime {
  @apply text-xs bg-hijau text-hijauDark p-2 rounded-full w-20 text-center font-semibold;
}

.badge-parttime {
  @apply text-xs bg-merah text-merahDark p-2 rounded-full w-20 text-center font-semibold;
}

.badge-magang {
  @apply text-xs bg-kuning text-kuningDark p-2 rounded-full w-20 text-center font-semibold;
}

.badge-kontrak {
  @apply text-xs bg-orange text-orangeDark p-2 rounded-full w-20 text-center font-semibold;
}

/* label */
.label-text {
  @apply text-sm mb-2 font-semibold dark:text-white dark:text-opacity-80;
}

.label-text-alt {
  @apply text-xs font-normal mt-2;
}

/* button */
.btn-primary {
  @apply bg-primary text-white font-bold border-0 h-14 w-full rounded-20 shadow-lg hover:shadow-xl hover:bg-secondary transition-all duration-200 normal-case;
}

.btn-primary-0 {
  @apply bg-primary text-white border-0 h-14 rounded-20 shadow-lg hover:shadow-xl hover:bg-secondary transition-all duration-200 normal-case;
}

.btn-accent {
  @apply bg-accent text-neutral font-bold border-0 h-14 w-full rounded-20 shadow-lg hover:shadow-xl hover:bg-accentDark transition-all duration-200 normal-case;
}

.btn-outline {
  @apply border border-gray-400 text-neutral dark:border-purple-400 dark:text-purple-400 h-14 rounded-20 shadow-lg hover:shadow-xl hover:bg-accent hover:border-transparent dark:hover:border-transparent hover:text-neutral dark:hover:text-neutral transition-all duration-200;
}

/* input */
.input-primary {
  @apply placeholder-current bg-gray-100 dark:bg-gray-700 dark:text-white dark:text-opacity-60 border-0 h-14 rounded-20 focus:ring-2 focus:ring-primary-focus;
}

.select-primary {
  @apply bg-gray-100 dark:bg-gray-700 dark:text-white dark:text-opacity-60 border-0 h-14 rounded-20 focus:ring-2 focus:ring-primary-focus;
}

.textarea {
  @apply placeholder-current bg-gray-100 dark:bg-gray-700 dark:text-white dark:text-opacity-60 shadow-sm mt-1 p-4 block w-full sm:text-sm border-0 rounded-20 focus:ring-2 focus:ring-primary-focus;
}

.radio {
  @apply focus:ring-primary-focus focus:bg-accent bg-gray-100 h-5 w-5 text-primary border border-gray-300 hover:border-primary dark:bg-gray-700 dark:border-gray-900 transition-all duration-200;
}

.checkbox {
  @apply focus:ring-2 focus:ring-primary-focus h-5 w-5 text-primary bg-gray-100 border border-gray-300 rounded dark:bg-gray-700 dark:border-gray-900 transition-all duration-200;
}

input[type=file] {
  @apply cursor-pointer;
}

input[type=file]::file-selector-button {
  @apply rounded-full border-0 shadow-none float-right bg-gray-200 hover:bg-opacity-80 dark:bg-white dark:bg-opacity-60 dark:hover:bg-opacity-80 text-neutral px-3 cursor-pointer duration-200 transition-all;
}

input[type=file]::-webkit-file-upload-button {
  @apply rounded-full border-0 shadow-none float-right bg-none text-neutral;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  /* display: none; */
  /* -webkit-appearance: none; */
  background: none;
  content: url("https://api.iconify.design/fluent/calendar-ltr-24-filled.svg?color=%23444444");
}

.dark input[type="date"]::-webkit-calendar-picker-indicator {
  /* display: none; */
  /* -webkit-appearance: none; */
  background: none;
  content: url("https://api.iconify.design/fluent/calendar-ltr-24-filled.svg?color=%23DADADA");
}
input[type="month"]::-webkit-calendar-picker-indicator {
  /* display: none; */
  /* -webkit-appearance: none; */
  background: none;
  content: url("https://api.iconify.design/fluent/calendar-ltr-24-filled.svg?color=%23444444");
}

.dark input[type="month"]::-webkit-calendar-picker-indicator {
  /* display: none; */
  /* -webkit-appearance: none; */
  background: none;
  content: url("https://api.iconify.design/fluent/calendar-ltr-24-filled.svg?color=%23DADADA");
}

[type="radio"]:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

/* tab */
.tabActive {
  @apply bg-primary text-white dark:text-white dark:text-opacity-80 dark:hover:bg-gray-100 dark:hover:bg-opacity-20 dark:hover:text-white dark:hover:text-opacity-80 rounded-large px-6 py-3 transition-all duration-200;
}

.tabDisable {
  @apply hover:text-neutral px-6 py-3 transition-all duration-200 text-gray-500 rounded-large hover:bg-gray-100 hover:text-opacity-80 bg-opacity-0;
}

/* button sidebar */
.btnSidebarActive {
  @apply flex items-center my-1 py-4 px-4 text-neutral rounded-large bg-purple-100 dark:bg-primary dark:text-white dark:text-opacity-80 dark:hover:bg-opacity-20 hover:bg-gray-100 hover:text-opacity-80 transition-all duration-200;
}

.btnSidebarDisable {
  @apply flex items-center my-1 py-4 px-4 text-neutral rounded-large bg-opacity-0 dark:bg-opacity-0  dark:text-white dark:text-opacity-80 dark:hover:bg-opacity-20 hover:bg-gray-100 hover:text-opacity-80 transition-all duration-200;
}

/* modal */
.modal {
  @apply transition duration-200 ease-in-out bg-neutral-focus bg-opacity-40;
}

.modal-box {
  @apply dark:bg-gray-900 transform translate-y-10 sm:translate-y-0 sm:scale-90 transition duration-200 ease-in-out rounded-20 bg-base-100 sm:max-w-lg p-6 w-full;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
}

.modal-open .modal-box,
.modal-toggle:checked+.modal .modal-box,
.modal:target .modal-box {
  @apply translate-y-0 scale-100;
}

.modal-action {
  @apply mt-6 space-x-2;
}

/* steps */
.step {
  grid-template-rows: 40px 1fr;
  min-width: 4rem;
}

.step:before {
  @apply bg-base-300 text-base-content h-2 w-full top-0 col-start-1 row-start-1;
  content: '';
  margin-left: -100%;
}

.step:after {
  content: counter(step);
  counter-increment: step;
  z-index: 1;
  @apply relative rounded-full w-8 h-8 bg-base-300 text-base-content block col-start-1 row-start-1 place-self-center grid place-items-center;
}

.step:first-child:before {
  content: none;
}

.step[data-content]:after {
  content: attr(data-content);
}

.step-accent+.step-accent:before,
.step-accent:after {
  @apply bg-accent text-accent-content;
}
